
###> symfony/framework-bundle ###
/Back-end/.env.local
/Back-end/.env.local.php
/Back-end/.env.*.local
/Back-end/public/bundles/
/Back-end/var/
/Back-end/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/Back-end/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/Back-end/.web-server-pid
###< symfony/web-server-bundle ###

# dependencies

/Front-end/node_modules

/Front-end/.pnp
.pnp.js



# testing

/Front-end/coverage


# production

/Front-end/build

